ul
    display: grid
    grid-template-columns: repeat(3, 1fr)
    justify-content: space-between 
    gap: 2rem
    li
        list-style: none
        box-shadow: 0px 10px 30px rgba(0,0 , 0, 0.1)
        padding: 2rem
        border: 2px solid #f4f4f4   
        border-radius: 20px
    li:hover
        transform: translateY(-15px)