ul
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 1rem
    margin: 0
    padding: 0
    li 
        list-style: none
        border-radius: 22px
        padding: 1rem
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175)
        &:hover
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25)
            transform: translateY(-0.1rem)
p
    font-size: 1.5rem
    font-weight: bold
    margin: 0
    padding: 0
    text-align: center