ul
    display: grid
    grid-template-columns: repeat(1, 1fr)
    gap: 1rem
    margin: 0
    padding: 0
    li 
        list-style: none
        border-radius: 22px
        padding: 1rem
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175)
        &:hover
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25)
            transform: translateY(-0.05rem)
            
p
    font-size: 1.5rem
    font-weight: bold
    margin: 0
    padding: 0
    text-align: center

.generate
    display: block
    margin: auto
    width: fit-content
    height: fit-content
    font-size: 3rem
    border-radius: 22px
    border: none
    background-color: #2cd539
    color: #FFF
    padding: 10px 20px
    margin-top: 20px
    cursor: pointer
    transition: 0.3s    
    &:hover
        transform: translateY(-0.1rem)
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2)



@media screen and (width >= 600px)
    ul
        grid-template-columns: repeat(2, 1fr)

@media screen and (width >= 1200px)
    ul
        grid-template-columns: repeat(3, 1fr)
    