app-header
    width: 100%
    display: flex
    justify-content: space-between

app-consult-today
    width: 100%
    display: flex
    margin-top: 3rem

app-our-service
    width: 100%
    display: flex
    flex-direction: column 
    align-items: center

app-footer
    width: 100%
    display: flex
    justify-content: space-around
    gap: 1rem
    background: linear-gradient(#67C3F3, #5A98F2)
    padding-top: 2rem
    padding-bottom: 2rem
    color: white