<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" formControlName="title" required>
    @if(formGroup.get('title')?.invalid && (formGroup.get('title')?.touched || formGroup.get('title')?.dirty)){
        @if(formGroup.controls['title'].hasError('required')){
            <p>Title is required</p>
        }
        @if(formGroup.controls['title'].hasError('minlength')){
            <p>Title must be at least 5 characters long</p>
        }
    }

    <label for="author">Author</label>
    <input type="text" id="author" name="author" formControlName="author" required>
    @if(formGroup.get('author')?.invalid && (formGroup.get('author')?.touched || formGroup.get('author')?.dirty)){
        @if(formGroup.controls['author'].hasError('required')){
            <p>Author is required</p>
        }
        @if(formGroup.controls['author'].hasError('minlength')){
            <p>Author must be at least 2 characters long</p>
        }
    }

    <label for="description">Description</label>
    <textarea id="description" name="description" formControlName="description" required></textarea>
    @if(formGroup.get('description')?.invalid && (formGroup.get('description')?.touched || formGroup.get('description')?.dirty)){
        @if(formGroup.controls['description'].hasError('required')){
            <p>Description is required</p>
        }
        @if(formGroup.controls['description'].hasError('minlength')){
            <p>Description must be at least 10 characters long</p>
        }
    }

    <button type="submit" [disabled]="formGroup.invalid">Create</button>
</form>