h2
    text-align: center

p
    text-align: center

hr
    width: 3%
    text-align: center
    border: 1px solid black
    border-radius: 5px

button
    border: 1px solid #458FF6
    border-radius: 55px
    width: 150px
    height: 45px
    background-color: white
    color: #458FF6 
